
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'import/variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Bulma
@import "~bulma/bulma.sass";

// Consentic
@import "import/consent-details";
@import "import/divider";
@import "import/pricing";
@import "import/custom";

/*
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

a{
  color: #16B1BA;
}

.bg-grey{
  background: #f5f5f5;
}

.section-faq .container{
  margin-bottom: 30px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .section-title {

    background-attachment: initial;

  }
}