.field.has-addons .control:first-child .checkradio label {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.field.has-addons .control:last-child .checkradio label {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.checkradio label {
  border: 1px solid transparent;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block !important;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
  padding: 1.25rem 1.5rem 1.6rem 1.5rem !important;
  margin: 0 !important;
}

.checkradio .is-checkradio[type=checkbox]+label::before,
.checkradio .is-checkradio[type=radio]+label::before {
  top: 11px;
  left: 12px;
}

.checkradio .is-checkradio[type=checkbox]+label::after,
.checkradio .is-checkradio[type=radio]+label::after {
  top: 11px;
  left: 12px;
}

.is-checkradio[type=checkbox]:checked+label::after,
.is-checkradio[type=radio]:checked+label::after {
  display: inline-block;
  width: .375rem;
  height: .6rem;
  top: 1.1rem;
  left: 1.35rem;
}

.is-checkradio[type=radio]+label::after {
  border-radius: 0;
  border-style: solid;
  background: transparent;
  left: 0;
  -webkit-transform: scale(.5);
  transform: rotate(45deg);
  box-sizing: border-box;
  border-width: .1rem;
  border-color: #00d1b2;
  border-top: 0;
  border-left: 0;
}

.card-discuss:not(:first-of-type) {
  margin-top: 2rem;
}

.consent-request-file {
  border: 3px dashed #16b1ba;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  height: 400px;
  overflow: auto;
}

.consent-request-file .file-item:not(:first-of-type) {
  margin-top: 1em;
}

.consent-request-file .file-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  align-items: center;
  min-height: min-content;
}

.consent-request-file .file-item .icon {
  font-size: 32px;
  margin-right: 1rem;
}

.consent-request-file .file-item .filename {
  text-overflow: ellipsis;
  overflow: hidden;
}

.consent-request-file .file-item .has-text-secondary {
  color: #16b1ba;
}

.question-option input {
  cursor: pointer;
}

#signature {
  border: 2px dashed #aaa;
  border-radius: 6px;
}