
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'import/variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Bulma
// @import "~bulma/bulma.sass";

// Consentic
@import "import/custom";
@import "import/consent-details";
@import "import/divider";
@import "import/pricing";
@import "import/modifier";
@import "import/spark";

a.button.is-theme {
  height: 2.9em;
}

.help.is-danger{
  font-size: 1.05rem;
}

.button.is-search{
  border-size: 1px !important;
  font-size: 1.29rem;
}

ul.list-unstyled li.media{
  border-top: none;
}

a{
  color: #16B1BA;
}

ul.list-unstyled .comment-link{
  font-size: 0.85rem !important;
}

.section-public{
  padding-top: 0.5rem;
}
.section-with-title{
  padding-top: 1rem;
}
.breadcrumb:not(:last-child){
  margin-bottom: 0.3rem;
}

#publicConsentRequestQuestions .is-divider-vertical{
  padding:1rem !important;
}

.select.is-success select[disabled]{
  border-color: #23d160 !important;
}
.checkbox.label{
  display: inline;
  border-width: 1px !important;
  border-color: #dbdbdb !important;
  color: #363636
}

#list-table{
  font-size: 1.15rem !important;
}